APP_NAME="TEST CASE FOR LOVE.ru"
APP_ENV=dev                                                 # dev / prod
APP_DEBUG=bool                                              # true / false
COOKIE_VALIDATION_KEY="seecret-string"                      # ключ для валидации кук

# PostgreSQL
POSTGRES_DB=yii2basic
POSTGRES_USER=user
POSTGRES_PASSWORD=secret
POSTGRES_HOST=db
POSTGRES_PORT=port

# Redis
REDIS_HOST=cache
REDIS_PORT=port